[Desktop Entry]
Name=LliureX-News-Feed
Name[ca]=LliureX-News-Feed
Name[ca@valencia]=LliureX-News-Feed
Name[en_GB]=LliureX-News-Feed
Name[es]=LliureX-News-Feed
Comment=Allows you to know news about LliureX
Comment[ca]=Permet conéixer novetats sobre LliureX
Comment[ca@valencia]=Permet conéixer novetats sobre LliureX
Comment[en_GB]=Allows you to know news about LliureX
Comment[es]=Permite conocer novedades sobre LliureX
Icon=lliurex-news-feed
Type=Service
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=SystemServices
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=JuanRa
X-KDE-PluginInfo-Email=juapesai@hotmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.lliurexnewsfeed
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://lliurex.net
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-StandAloneApp=true
