Source: lliurex-news-feed-plasmoid
Section: kde
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es>
Build-Depends: cmake (>= 2.8.12),
               debhelper (>= 9),
               extra-cmake-modules (>= 5.18.0~),
               pkg-kde-tools (>= 0.15.18~),
               libkf5plasma-dev (>= 5.17.0~),
               libkf5i18n-dev (>= 5.17.0~),
               libqt5x11extras5-dev (>= 5.4),
               pkg-config,
               qtbase5-dev (>= 5.4),
               qtdeclarative5-dev (>= 5.4),
               libkf5runner-dev,
               libkf5notifications-dev,
               kio-dev
Standards-Version: 3.9.6
Homepage: https://lliurex.net
Vcs-Git: https://svn.lliurex.net/jammy/lliurex-news-feed-plasmoid
Vcs-Browser: https://github.com/lliurex/lliurex-news-feed-plasmoid

Package: lliurex-news-feed-plasmoid
Architecture: any
Depends: kpackagetool5,
         libkf5purpose5,
         plasma-framework,
         plasma-workspace,
         qml-module-org-kde-draganddrop,
         qml-module-org-kde-kcoreaddons,
         qml-module-org-kde-kio,
         qml-module-org-kde-purpose,
         qml-module-qtgraphicaleffects,
         qml-module-qtquick-layouts,
         qml-module-qtquick-window2,
         qml-module-qtwebengine,
         qml-module-qtwebkit,
         ${misc:Depends},
         ${shlibs:Depends}
Description: additional widgets for Plasma 5
 This package provides a widget for Lliurex News



